{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{url_for('ordens.static',
    filename='css/info_os.css')}}">

{% endblock %}

{% block conteudo %}

<div class="container">
    <div class="box1">
        <div class="row mt-4">
            <div class="col-3">
                <label class="form-label">Número da Os:</label>
                <h3>{{cliente['id']}}</h3>
            </div>
            <div class="col-4">
                <label class="form-label">Cliente:</label>
                <h3>{{cliente['nome']}}</h3>
            </div>
            <div class="col-4">
                <label class="form-label">Mecânico:</label>
                <h3>{{cliente['mecanicos.nome']}}</h3>
            </div>
        </div>
        {% if itens_os %}
            <div class="row mt-4">
                <div class="col-4">
                    <label class="form-label" for="id_os">Peças:</label>
                </div>
                <div class="col-2">
                    <label class="form-label" for="cliente">Quantidade:</label>
                </div>
                <div class="col-1">
                    <h3></h3>
                </div>
                <div class="col-2">
                    <label class="form-label" for="cliente">Preço Unitário:</label>
                </div>
                <div class="col-2">
                    <label class="form-label" for="cliente">Valor:</label>
                </div>
            </div>
            <div class="row mt-2">
                {% for item in itens_os %}
                    <div class="col-4">
                        <h3>{{item.nome}}</h3>
                    </div>
                    <div class="col-2 text-center">
                        <h3>{{item.quantidade}}</h3>
                    </div>
                    <div class="col-1">
                        <h3>X</h3>
                    </div>
                    <div class="col-2">
                        <h3>R$ {{item.preco}},00</h3>
                    </div>
                    <div class="col-2">
                        <h3>R$ {{item.valor}},00</h3>
                    </div>
                    <div class="col-1">
                        <a href="{{url_for('ordens.DeletarItemOs', id = item.id, id_os = cliente['id'], nome_peca = item.nome)}}" class="excluir"><i
                        class="fa fa-trash"></i></a>
                    </div>
                {% endfor %}
            </div>
            <div class="row mt-2">
                <div class="col-7">
                    <h3></h3>
                </div>
                <div class="col-2">
                    <h3>Total:</h3>
                </div>
                <div class="col-2">
                    <h3>R$ {{soma}},00</h3>
                </div>
            </div>
        {% else %}
            <div class="mt-2">
                <h3>Aguardando Peças...</h3>
            </div>
        {% endif %}
        <div class="row mt-2">
            <div class="d-flex justify-content-center gap-2 mt-4">
                <div>
                    <a href="{{url_for('ordens.OrdensServico')}}" class="btn btn-primary">Voltar</a>
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Pagar Os</button>
                </div>
            </div>
        </div>
    </div>
    <div class="box2 celular">
        <div class="row mt-4">
            <div class="col-3">
                <label class="form-label">Número da Os:</label>
                <h4>{{cliente['id']}}</h4>
            </div>
            <div class="col-4">
                <label class="form-label">Cliente:</label>
                <h4>{{cliente['nome']}}</h4>
            </div>
            <div class="col-4">
                <label class="form-label">Mecânico:</label>
                <h4>{{cliente['mecanicos.nome']}}</h4>
            </div>
        </div>
        {% if itens_os %}
        <div class="mt-2">
            {% for item in itens_os %}
            <div class="row">
                <div class="col-12">
                    <label class="form-label">Peça:</label>
                </div>
                <div class="col-12">
                    <h4>{{item.nome}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <label class="form-label">Qtd:</label>
                </div>
                <div class="col-4 text-center">
                    <label class="form-label">Preço:</label>
                </div>
                <div class="col-4 text-center">
                    <label class="form-label">Valor:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-1 text-center">
                    <h4>{{item.quantidade}}</h4>
                </div>
                <div class="col-1">
                    <h4>X</h4>
                </div>
                <div class="col-4">
                    <h4>R$ {{item.preco}},00</h4>
                </div>
                <div class="col-4">
                    <h4>R$ {{item.valor}},00</h4>
                </div>
                <div class="col-1">
                    <a href="{{url_for('ordens.DeletarItemOs', id = item.id, id_os = cliente['id'], nome_peca = item.nome)}}"
                        class="excluir"><i class="fa fa-trash"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row mt-2">
            <div class="col-2">
                <h4>Total:</h4>
            </div>
            <div class="col-10">
                <h4>R$ {{soma}},00</h4>
            </div>
        </div>
        {% else %}
        <div class="mt-2">
            <h3>Aguardando Peças...</h3>
        </div>
        {% endif %}
        <div class="row mt-2">
            <div class="d-flex justify-content-center gap-2 mt-4">
                <div>
                    <a href="{{url_for('ordens.OrdensServico')}}" class="btn btn-primary">Voltar</a>
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Pagar Os</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}