body {
    background-image: url(/static/image/home/bg_home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    padding-bottom: 80px;
}

.card1 {
    margin: auto;
    width: 95%;
}

.card_celular {
    display: none;
}

.titulo {
    height: 80px;
    background-color: #007bff;
    color: white;
}

.isp {
    color: black;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 2px;
    text-shadow: 2px 2px 4px white;
}

.botao {
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    width: 180px;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.botao:hover {
    background-color: #0056b3;
    transform: scale(0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} 

.botao i {
    font-size: 20px;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

@media (max-width: 800px) {
    .card1 {
        display: none;
    }

    .card_celular {
        position: fixed;
        z-index: 1000;
        width: 100%;
        bottom: 0px;
        left: 0px;
        height: 60px;
        display: flex;
        justify-content: space-evenly;
        background-color: #007bff;
    }

    .botao {
        height: 60px;
        width: 55px;
        background-color: transparent;
        gap: 0px;
        border-radius: 0px;
        padding: 10px 15px;
        font-size: 80px;
    }

    body {
        height: 100vh;
    }
}