body {
    background-image: url(/static/image/recepção.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.box1 {
    background-color: rgba(2, 2, 2, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 600px; 
    margin-top: 100px;
    color: white;
}