body {
    background-image: url(/static/image/peça3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.box1 {
    background-color: rgba(2, 2, 2, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 480px; 
    color: white;
    margin-top: 50px;
}

.opcoes {
    background-color: rgba(2, 2, 2, 0.6);
    width: auto;
    color: white;
}

@media (max-width: 800px) {
    body {
        height: 100vh;
        padding-top: 50px;
    }

    .box1 {
        width: 95%;
        margin: auto;
    }
}