{% extends 'base_cadastros.html' %}

{% block head %}

<link rel="stylesheet" href="{{url_for('usuarios.static',
    filename='css/cadastrarcliente.css')}}">

{% endblock %}

{% block conteudo %}

<div class="container">
    <form class="form-control p-3 box1" action="{{url_for('usuarios.CadastrarClientes')}}" method="post">
        <div>
            <h2 class="text-center">Cadastrar Cliente</h2>
        </div>
        <div>
            <label class="form-label" for="nome">Nome:</label>
            <input class="form-control" type="text" name="nome" required>
        </div>
        <div>
            <label class="form-label" for="telefone">Telefone:</label>
            <input class="form-control" type="text" name="telefone" required>
        </div>
        <div>
            <label class="form-label" for="email">E-mail:</label>
            <input class="form-control" type="email" name="email" required>
        </div>
        <div>
            <label class="form-label" for="documento">Documento:</label>
            <input class="form-control" type="text" name="documento" required>
        </div>
        <div>
            <label class="form-label" for="enderco">Endereço:</label>
            <input class="form-control" type="text" name="endereco" required>
        </div>
        <div>
            <label class="form-label" for="senha">Senha:</label>
            <input class="form-control" type="password" name="senha" required>
        </div>
        <div class="d-flex justify-content-center gap-2 mt-4">
            <div>
                <a href="{{url_for('usuarios.BuscarClientes')}}" class="btn btn-primary">Voltar</a>
            </div>
            <div>
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}