{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{url_for('usuarios.static',
    filename='css/clientes.css')}}">

{% endblock %}

{% block conteudo %}

<div class="box_clientes d-flex flex-column justify-content-center mt-4">
    <a href="{{url_for('usuarios.CadastrarClientes')}}" class="botao-menu botao_clientes"><i
            class="fas fa-user-plus"></i>Cadastrar Cliente</a>
    <table class="mt-2">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Cpf</th>
                <th>Endereço</th>
                <th>Data do Cadastro</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in listaClientes %}
            <tr>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.telefone}}</td>
                <td>{{cliente.email}}</th>
                <td>{{cliente.documento}}</td>
                <td>{{cliente.endereco}}</td>
                <td>{{cliente.criado_em}}</td>
                <td>
                    <div class="d-flex">
                        <a href="{{url_for('usuarios.EditarCliente', id = cliente.id)}}" class="editar"><i
                                class="fa fa-edit"></i></a>
                        <a href="{{url_for('usuarios.DeletarCliente', id = cliente.id)}}" class="excluir"><i
                                class="fa fa-trash"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}

<script src="{{url_for('usuarios.static',
    filename='js/clientes.js')}}"></script>

{% endblock %}