.card1 {
    box-shadow: 2px 2px 8px 3px black;
    border-radius: 5px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botao {
    border-radius: 5px;
    background-color: rgb(30, 224, 72);
    width: 190px;
    height: 30px;
    cursor: pointer;
}

a {
    display: block;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 15px;
}