<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISP Serviços</title>
    <link rel="shortcut icon" href="{{url_for('static',
    filename='image/icone.png')}}" type="image/png">
    <link rel="stylesheet" href="{{url_for('static',
    filename='css_bootstrap/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',
    filename='css/base.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% block head %}{% endblock %}
</head>

<body>
    <div class="container-fluid d-flex gap-4 titulo">
        <div class="w-50 d-flex align-items-center">
            <a href="{{url_for('PainelServicos')}}">
                <h1 class="text-center">ISP Serviços</h1>
            </a>
        </div>
        <div class="w-100  d-flex align-items-center">
            <h5 class="text-start">Olá, seja bem-vindo(a) {{session.usuario_nome}}</h5>
        </div>
    </div>
    <div class="card1 mt-3">
        <div class="box d-lg-flex justify-content-lg-center gap-lg-2">
            <a href="{{url_for('PainelServicos')}}"
                class="botao-menu botao mb-2 mb-lg-0 d-flex justify-content-center align-items-center"><i
                    class="fas fa-columns"></i>Painel</a>
            <a href="{{url_for('BuscarClientes')}}"
                class="botao-menu botao mb-2 mb-lg-0 d-flex justify-content-center align-items-center"><i
                    class="fas fa-user"></i>Clientes</a>
            <a href="{{url_for('BuscarVeiculos')}}"
                class="botao-menu botao mb-2 mb-lg-0 d-flex justify-content-center align-items-center"><i
                    class="fas fa-car"></i>Veículos</a>
            <a href="{{url_for('BuscarMecanicos')}}"
                class="botao-menu botao mb-2 mb-lg-0 d-flex justify-content-center align-items-center"><i
                    class="fas fa-wrench"></i>Mecânicos</a>
            <a href="{{url_for('OrdensServico')}}"
                class="botao-menu botao mb-2 mb-lg-0 d-flex justify-content-center align-items-center"><i
                    class="fas fa-folder-open"></i>Gerenciar OS</a>
            <a href="{{url_for('Estoque')}}"
                class="botao-menu botao mb-2 mb-lg-0 d-flex justify-content-center align-items-center"><i
                    class="fas fa-box"></i>Estoque</a>
            <a href="{{url_for('logout')}}"
                class="botao-menu botao mb-2 mb-lg-0 d-flex justify-content-center align-items-center"><i
                    class="fas fa-sign-out-alt"></i>Sair</a>
        </div>
    </div>
    {% block conteudo %}

    {% endblock %}

    <div class="text-center isp">
        <p>Copyright © 2026 Feito por ISP Tecnologia</p>
    </div>

    <script src="{{url_for('static',
    filename='js_bootstrap/bootstrap.bundle.min.js')}}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>