{% extends 'base.html' %}

{% block conteudo %}

<h1 class="text-center mt-4">Cadastrar Peça</h1>
<div class="container mt-2">
    <form class="form-control p-3" action="{{url_for('CadastrarPeca')}}" method="post">
        <div>
            <label class="form-label" for="nome">Nome:</label>
            <input class="form-control" type="text" id="nome" name="nome">
        </div>
        <div>
            <label class="form-label" for="quantidade">Quantidade:</label>
            <input class="form-control" type="number" id="quantidade" name="quantidade">
        </div>
        <div>
            <label class="form-label" for="preco">Preço:</label>
            <input class="form-control" type="number" id="preco" name="preco">
        </div>
        <div>
            <label class="form-label" for="localizacao">Localização:</label>
            <input class="form-control" type="text" id="localizacao" name="localizacao">
        </div>
         <div class="mt-3">
            <label class="form-label" for="id_subcategoria">Sub-Categoria:</label>
            <select name="id_subcategoria" id="id_subcategoria">
                <option value="">-- selecione uma sub-categoria --</option>
                {% for subcategoria in resultado %}
                    <option value="{{subcategoria.id}}">{{subcategoria.nome}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
    </form>
</div>

{% endblock %}