{% extends 'base.html' %}

{% block conteudo %}

<h1 class="text-center mt-4">Cadastrar Categoria de Peças</h1>
<div class="container mt-2">
    <form class="form-control p-3" action="{{url_for('CadastrarCategoria')}}" method="post">
        <div>
            <label class="form-label" for="nome">Nome:</label>
            <input class="form-control" type="text" id="nome" name="nome">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
    </form>
</div>

{% endblock %}