{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{url_for('static',
    filename='css/clientes.css')}}">

{% endblock %}

{% block conteudo %}

<h1 class="titulo_clientes text-center">Clientes</h1>

<div class="box_clientes d-flex gap-4">
    <a href="{{url_for('CadastrarClientes')}}" class="botao-menu botao_clientes"><i
            class="fas fa-user-plus"></i>Cadastrar Cliente</a>
    <a href="{{url_for('BuscarVeiculos')}}"
        class="botao-menu botao mb-2 mb-lg-0 d-flex justify-content-center align-items-center"><i
            class="fas fa-car"></i>Veículos</a>
    <a href="{{url_for('BuscarMecanicos')}}"
        class="botao-menu botao mb-2 mb-lg-0 d-flex justify-content-center align-items-center"><i
            class="fas fa-wrench"></i>Mecânicos</a>
    <a href="{{url_for('CriarOs')}}"
        class="botao-menu botao mb-2 mb-lg-0 d-flex justify-content-center align-items-center"><i
            class="fas fa-folder-open"></i>Gerenciar OS</a>
    <a href="{{url_for('Estoque')}}"
        class="botao-menu botao mb-2 mb-lg-0 d-flex justify-content-center align-items-center"><i
            class="fas fa-box"></i>Estoque</a>
    <a href="{{url_for('logout')}}"
        class="botao-menu botao mb-2 mb-lg-0 d-flex justify-content-center align-items-center"><i
            class="fas fa-sign-out-alt"></i>Sair</a>
</div>
<div class="box_clientes">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Cpf</th>
                <th>Endereço</th>
                <th>Data do Cadastro</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in listaClientes %}
            <tr>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.telefone}}</td>
                <td>{{cliente.email}}</th>
                <td>{{cliente.documento}}</td>
                <td>{{cliente.endereco}}</td>
                <td>{{cliente.criado_em}}</td>
                <td>
                    <div class="d-flex">
                        <a href="{{url_for('EditarCliente', id = cliente.id)}}" class="editar"><i
                                class="fa fa-edit"></i></a>
                        <a href="{{url_for('DeletarCliente', id = cliente.id)}}" class="excluir"><i
                                class="fa fa-trash"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}

<script src="{{url_for('static',
    filename='js/painelServicos.js')}}"></script>

{% endblock %}