{% extends 'base.html' %}

{% block conteudo %}

<h1 class="text-center mt-4">Editar Cliente</h1>
<div class="container mt-2">
    <form class="form-control p-3" action="{{url_for('EditarCliente', id = resultado.id)}}" method="post">
        <div>
            <label class="form-label" for="nome">Nome:</label>
            <input class="form-control" type="text" id="nome" name="nome" value="{{resultado.nome}}">
        </div>
        <div>
            <label class="form-label" for="telefone">Telefone:</label>
            <input class="form-control" type="text" id="telefone" name="telefone" value="{{resultado.telefone}}">
        </div>
        <div>
            <label class="form-label" for="email">E-mail:</label>
            <input class="form-control" type="email" id="email" name="email" value="{{resultado.email}}">
        </div>
        <div>
            <label class="form-label" for="documento">Documento:</label>
            <input class="form-control" type="text" id="documento" name="documento" value="{{resultado.documento}}">
        </div>
        <div>
            <label class="form-label" for="enderco">Endereço:</label>
            <input class="form-control" type="text" id="endereco" name="endereco" value="{{resultado.endereco}}">
        </div>
        <button type="submit" class="btn btn-warning mt-3">Atualizar</button>
    </form>
</div>

{% endblock %}