{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{url_for('static',
    filename='css/estoque.css')}}">

{% endblock %}

{% block conteudo %}

<div class="box_estoque d-flex flex-column mt-4">
    <div>
        <a href="{{url_for('estoque.CadastrarCategoria')}}" class="botao-menu botao_estoque mb-2 mb-lg-0"><i
                class="fas fa-car-battery"></i>Cadastrar Categoria</a>
        <a href="{{url_for('estoque.CadastrarSubcategoria')}}" class="botao-menu botao_estoque  mb-2 mb-lg-0"><i class="fas fa-stop"></i>Cadastrar Subcategoria</a>
        <a href="{{url_for('estoque.CadastrarPeca')}}" class="botao-menu botao_estoque"><i
                class="fas fa-cog fa-spin"></i>Cadastrar Peça</a>
    </div>
    <table class="mt-2">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Localização</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for peca in resultado %}
            <tr>
                <td>{{peca.nome}}</td>
                <td>{{peca.quantidade}}</td>
                <td>R$ {{peca.preco}}</th>
                <td>{{peca.localizacao}}</td>
                <td>
                    <div class="d-flex">
                        <a href="{{url_for('estoque.EditarPeca', id = peca.id, id_subcategoria = peca.id_subcategoria)}}"
                            class="editar"><i class="fa fa-edit"></i></a>
                        <a href="{{url_for('estoque.DeletarPeca', id = peca.id)}}" class="excluir"><i
                                class="fa fa-trash"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}

<script src="{{url_for('static',
    filename='js/painelServicos.js')}}"></script>

{% endblock %}