{% extends 'base.html' %}

{% block conteudo %}

<h1 class="bg-warning text-center">Sistema de Ordem de Serviços</h1>
<div class="container card1 mt-4">
    <h2 class="text-center">Menu</h2>
    <div class="p-4 box">
        <a href="{{url_for('CadastrarVeiculos')}}" class="botao">➕ Cadastrar Clientes</a>
        <a href="{{url_for('CadastrarVeiculos')}}" class="botao">➕ Cadastrar Veículos</a>
        <a href="{{url_for('CadastrarVeiculos')}}" class="botao">➕ Cadastrar Mecânicos</a>
        <a href="{{url_for('CadastrarVeiculos')}}" class="botao">➕ Criar OS</a>
        <a href="{{url_for('CadastrarVeiculos')}}" class="botao">➕ Gerenciar OS</a>
        <a href="{{url_for('CadastrarVeiculos')}}" class="botao">➕ Estoque</a>
    </div>
</div>
<div class="container card1 mt-4">
    <h2 class="text-center">Relatórios</h2>
    <div class="p-4 box">
        Ordens de Serviço
    </div>
</div>

{% endblock %}