{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{url_for('static',
    filename='css/veiculos.css')}}">

{% endblock %}

{% block conteudo %}

<div class="box_veiculos d-flex flex-column mt-4">
    <a href="{{url_for('CadastrarVeiculos')}}"class="botao-menu botao_veiculos">
        <i class="fas fa-plus"></i>
        <i class="fas fa-car-side"></i>
        Cadastrar Veículo
    </a>
    <table class="mt-2">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Ano</th>
                <th>Placa</th>
                <th>Observações</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for veiculo in resultado %}
            <tr>
                <td>{{veiculo.nome}}</td>
                <td>{{veiculo.marca}}</td>
                <td>{{veiculo.modelo}}</th>
                <td>{{veiculo.ano}}</td>
                <td>{{veiculo.placa}}</td>
                <td>{{veiculo.observacoes}}</td>
                <td>
                    <div class="d-flex">
                        <a href="{{url_for('EditarVeiculo', id = veiculo.id)}}" class="editar"><i class="fa fa-edit"></i></a>
                        <a href="{{url_for('DeletarVeiculo', id = veiculo.id)}}" class="excluir"><i class="fa fa-trash"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}

<script src="{{url_for('static',
    filename='js/painelServicos.js')}}"></script>

{% endblock %}