{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{url_for('veiculos.static',
    filename='css/editar_veiculo.css')}}">

{% endblock %}

{% block conteudo %}

<div class="container mt-4 mb-5">
    <form class="form-control p-3 box1" action="{{url_for('veiculos.EditarVeiculo', id = resultado.id)}}" method="post">
        <div>
            <h1 class="text-center">Editar Veículo</h1>
        </div>
        <div>
            <label class="form-label" for="marca">Marca:</label>
            <input class="form-control" type="text" id="marca" name="marca" value="{{resultado.marca}}">
        </div>
        <div>
            <label class="form-label" for="modelo">Modelo:</label>
            <input class="form-control" type="text" id="modelo" name="modelo" value="{{resultado.modelo}}">
        </div>
        <div>
            <label class="form-label" for="ano">Ano:</label>
            <input class="form-control" type="text" id="ano" name="ano" value="{{resultado.ano}}">
        </div>
        <div>
            <label class="form-label" for="placa">Placa:</label>
            <input class="form-control" type="text" id="placa" name="placa" value="{{resultado.placa}}">
        </div>
        <div>
            <label class="form-label" for="observacoes">Observações:</label>
            <input class="form-control" type="text" id="observacoes" name="observacoes"
                value="{{resultado.observacoes}}">
        </div>
        <div class="d-flex justify-content-center gap-2 mt-4">
            <div>
                <a href="{{url_for('veiculos.BuscarVeiculos')}}" class="btn btn-secondary">Cancelar</a>
            </div>
            <div>
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}